DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
AUTH_SECRET="replace-with-a-long-random-secret"
NEXT_PUBLIC_SITE_URL="https://lg-leonorgranados.netlify.app"
SEED_ADMIN_EMAIL="admin@leonorgranados.com"
SEED_ADMIN_PASSWORD="LGAdmin1234!"
CLOUDINARY_CLOUD_NAME=dz3sofmyu
CLOUDINARY_API_KEY=348172234771565
CLOUDINARY_API_SECRET=Em49MwnxT1_oRBMZb-r5StAc1f8
